 
.uploadbtn .snipicon {
    display: inline-block;
    width: 45px !important;
    height: 45px !important;
    line-height: 35px;
    padding:10px;
    background-color: lightgreen;
    cursor:pointer
}

.btn1{
  height:35px !important;
}
.foundry {
  
}
sup{
  
   float: right !important;
}
  .search-result-container {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 5px 10px;
    margin: auto 10px;
    min-width:100%
  }

.svgCont{
 width: 60px;
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background-color: #fafafa;
  cursor: pointer;

}
