<!--<div class="uploadPanel" *ngIf="showPanel" style="margin-bottom:15px" id="panel" #panel>
<div class="uploadheader">
</div>
<div class="uploadbody">
  <div class="row">
      <div [hidden]="!loadpanel" class="col loadergif">
        <div class="d-flex justify-content-center">
          <mat-spinner [strokeWidth]="2" [diameter]="30"></mat-spinner>
          </div>
          </div>
    <div class="col-md-7">
         <div class="sixpack-preview-box container">
                <ul class="list-inline row">
         	        <li *ngFor="let gliph of gliphicon;let i = index" class="col-lg nomargin graphictypes-selector">
                   <label class="iconHeader"><b>{{gliph.graphicsType}}</b></label>
                   <img [src]="transform(gliph.source)"  (click)="iconclicked(gliph)">
                  </li>
                </ul>
              </div>
    </div>
    <div class="col-md-5">
     <div class="preview-sizedemo">
        <ul>
          <li *ngFor="let szclass of icnSizes" class="preview preview-selector">
          <img *ngIf="seltwin && seltwin.source" [src]="transform(seltwin.source)" [class]="szclass">
          </li>
          </ul>
      </div>
    </div>
   </div>
</div>
<div class="uploadfooter">
  <div class="row">
<div class="col-md-9">
<span>{{iconName}} </span>
<span *ngIf="Itags && Itags.length > 0" style="margin-left:10px" ><i class="snipicon-tag"></i> </span>
<span *ngFor="let tg of Itags" style="padding-right:10px;">{{tg}}</span>
</div>
</div>
</div>
</div>-->

<div class="preview-container" #panel>
    	<div class="preview-body">

        <div class="preview-sixpack">
          <ul>
              <li *ngFor="let gliph of gliphicon;let i = index" class="preview-selector">
                   <span class="previewstyle">{{gliph.graphicsType}}</span>
                   <img  [src]="transform(gliph.source)"  (click)="iconclicked(gliph)">
                   </li>
            </ul>
       </div>
          <div class="preview-sizedemo">
            <ul>
               <li *ngFor="let szclass of icnSizes" class="preview preview-selector">
                 <img *ngIf="seltwin && seltwin.source" [src]="transform(seltwin.source)" [class]="szclass">
               </li>
            </ul>
          </div>
        </div>
        <div class="preview-datacontainer">
	     	<div class="tag">
        <span href="#" *ngFor="let tg of Itags" style="padding-right:10px;">{{tg}}</span>
        </div>
	    	<div class="author">
		    <i class="user-controll"></i> BY <a href="#">insspirito</a>
		    </div>
    	</div>
          </div>
 